.film-card {
    display: flex;
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 40px;

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 280px;
        min-width: 280px;
        height: 370px;
        display: block;
    }

    &__desc {
        display: flex;
        flex-direction: column;
        padding-left: 120px;
        font-size: 16px;
        line-height: 19px;
        color: var(--color-gray-33);

        @media (max-width: 900px) {
            padding-left: 0;
            padding-top: 20px;
        }
    }

    &__prop {
        display: flex;
        margin-bottom: 25px;
    }

    &__list-title {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item-title {
        padding-right: 25px;
        margin-bottom: 15px;
        line-height: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__list-text {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item-text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        line-height: 1.4em;
        margin: 0;
    }
}