.modal-login {
    display: flex;
    flex-direction: column;
    width: 304px;
    border-radius: 8px;
    color: var(--color-gray-33);
    background-color: var(--color-white);
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 36px;
    box-sizing: border-box;

    &__wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
    }

    &__title {
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__input {
        font-size: 16px;
        line-height: 19px;
        color: var(--color-gray-82);
        background-color: var(--color-white);
        border: none;
        border-bottom: 1px solid var(--color-gray-33);
        padding: 7px 0;
        margin-bottom: 23px;
        outline: none;
    }

    &__label {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 98px;
        padding-left: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            border: 1px solid var(--color-gray-33);
            box-sizing: border-box;
            border-radius: 4px;
            position: absolute;
            left: 0;
            top: 1px;
        }

        &:after {
            display: none;
        }
    }

    &__icon {
        display: none;
        position: absolute;
        left: 3px;
        top: 5px;
    }

    &__checkbox {
        display: none;
        &:checked + .modal-login__label .modal-login__icon {
            display: block;
        }
    }

    &__auth-button {
        align-self: center;
    }

    &__message {
        position: absolute;
        bottom: 10px;
        left: 36px;
        right: 36px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: var(--color-red-cc);
    }

    .auth-btn {
        margin: 0 auto;
    }
}

.overlay {
    background-color: var(--color-black);
    opacity: 0.6;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}