:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray-33: #333333;
    --color-gray-82: #828282;
    --color-gray-f2: #F2F2F2;
    --color-gray-bd: #BDBDBD;
    --color-red-e5: #E5261E;
    --color-red-cc: #CC221B;
    --color-red-86: #861612;
    --color-blue: #1F4766;
    --xl: 1350px;
}