@font-face {
    font-weight: 400;
    font-family: 'Rubik';
    src: url('../assets/static/fonts/Rubik.woff2') format('woff2'), url('../assets/static/fonts/Rubik.woff') format('woff');
}

@font-face {
    font-weight: 700;
    font-family: 'Rubik';
    src: url('../assets/static/fonts/Rubikbold.woff2') format('woff2'), url('../assets/static/fonts/Rubikbold.woff') format('woff');
}

