.slider-films-genre {
    display: flex;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 208px;
        text-decoration: none;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.8;
            border-radius: 6px;
        }

        &_style {
            &_comedy:before {
                background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
            }

            &_dramas:before {
                background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
            }

            &_fantastic:before {
                background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
            }

            &_horrors:before {
                background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
            }
        }
    }

    &__smile {
        font-size: 48px;
        line-height: 57px;
        text-align: center;
        position: relative;
    }

    &__title {
        text-align: center;
        position: absolute;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-white);
        width: 100%;
        bottom: 25px;
    }
}