.header {
    padding: 35px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__auth-wrap {
        display: flex;
        align-items: center;
    }

    &__auth-name {
        color: var(--color-gray-33);
        font-weight: 600;
    }
}